

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cell{
    box-sizing: border-box;
    border: 1px solid black;
}



.container{
    display: flex;  /* for the 0th row construction */
    background-color: burlywood;
    padding: 0;
    width: 500px;
    height: 500px;
}




